/* Added 2021 */
article img {
  max-width: 100%;
  height: auto;
}

.dec {
  padding: 10px 50px;
  font-size: 2em;
  color: #fff;
  margin-bottom: 130px;
  text-align: right;
  font-style: italic;
  font-family: FloodStd;
}

@media (min-width: 1540px) {
  .article-main-photo {
    height: 900px !important;
  }
}

@media (min-width: 1700px) {
  .article-main-photo {
    height: 939px !important;
  }
}

@media (min-width: 1785px) {
  .article-main-photo {
    height: 1085px !important;
  }
}

/* Original Football 2016 stylesheet (commented out 130px margin because I added it to dec above) */
#wpadminbar {
  display: none;
  visibility: hidden; }

html {
  padding: 0 !important;
  margin: 0 !important; }

 @font-face {
  font-family: FloodStd;
  src: url('FloodStd.otf');
  font-weight: normal;
  font-style: normal;
}

/*body {
  padding-top: 50px; }*/

.article-mod.reg {
  background: none !important; }

header, nav {
  display: none !important; }

.hdr-ad-container {
  background: #4EB5B0; }

footer {
  margin: 40px auto 0; }

.zone-header {
  background: -webkit-linear-gradient(-1deg, rgba(49, 99, 99, 0.2), rgba(175, 198, 199, 0.5));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  font: 100 14px proxima-nova, arial, helvetica, sans-serif;
  color: #000; }
  .zone-header::after {
    clear: both;
    content: "";
    display: table; }
  .zone-header .do-logo {
    font-weight: 600;
    color: #000;
    letter-spacing: -7px;
    font-size: 30px;
    display: block;
    float: left;
    padding: 10px 20px 10px 30px !important; }
  .zone-header .zone-menu-item {
    float: left;
    padding: 20px 10px; }
    .zone-header .zone-menu-item.zone-selected {
      font-weight: 600; }
    .zone-header .zone-menu-item.zone-disabled {
      opacity: .3;
      cursor: default; }
  .zone-header .zone-menu-trigger {
    float: right;
    padding: 20px 30px;
    position: relative;
    cursor: default;
    color: #000; }
    .zone-header .zone-menu-trigger .zone-menu {
      background: #fff;
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      width: 300px;
      padding: 10px 0;
      z-index: 100;
      color: #000;}
      .zone-header .zone-menu-trigger .zone-menu li a {
        color: #000;
        display: block;
        padding: 12px 18px;
        font-size: 16px;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        transition: .2s; }

        .zone-header .zone-menu-trigger .zone-menu li a:hover {
          background: #6cd4d4;
          color: #fff;}
        .zone-header .zone-menu-trigger .zone-menu li a.current {
          background: #6cd4d4;
          color: #FFF; }
      .zone-header .zone-menu-trigger .zone-menu .divider {
        height: 1px;
        background: #231f20;
        margin: 10px 0; }
    .zone-header .zone-menu-trigger:hover {
      background: #6cd4d4;
      color: #000; }
    .zone-header .zone-menu-trigger span:hover {
      color: #000;
    }
    .zone-header .zone-menu-trigger:hover .zone-menu {
      display: block;
      color: #000; }
  .zone-header .zone-title {
    margin-right: 20px;
    font-weight: bold; }
    .zone-header .zone-title .showable {
      display: none; }
  .zone-header .zone-headline {
    border-left: 1px solid #FFF;
    padding: 0 20px; }
    .zone-header .zone-headline:hover {
      color: #fff; }
  @media (max-width: 440px) {
    .zone-header .zone-menu-item {
      padding: 20px 5px; }
    .zone-header .zone-menu-trigger {
      padding: 20px 10px; }
    .zone-header .do-logo {
      padding-left: 15px !important; } }
  @media (max-width: 375px) {
    .zone-header .zone-title .hideable {
      display: none; }
    .zone-header .zone-title .showable {
      display: inline; } }

.article-content {
  box-shadow: none;
  margin: 0;
  width: auto;
  padding: 0;
  max-width: none; }

.article-content > article {
  max-width: 900px;
  margin: 50px auto;
  border: 0 !important;
  padding: 0 30px;
  position: relative;
  left: -105px; }

#content {
  margin: 0;
  max-width: none; }

.article-main-photo {
  position: relative;
  width: 100%;
  height: 800px; }

.article-main-photo hgroup {
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: right;
  font-style: italic;
  font-family: FloodStd;
  color: #000;
  margin: 0;
  padding-bottom: 40px;
}

/* .article-main-photo hgroup h1 {
  margin-bottom: 130px;
} */


.article-main-photo hgroup h1 span {
  color: #fff;
  padding: 10px 50px;
}

.article-main-photo hgroup h1 .special-title{
  padding:100px;
  float:left !important;
}


.article-main-photo h1 {
  font-size: 110px;
  text-transform: uppercase; }

.article-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.article-main-photo .photo-credit {
  padding-right: 15px; }

.artivle-video {
  width: 100%; }

.article-main-photo .photo-caption {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.zone-branding {
  width: 218px;
  height: 53px;
  float: right;
  margin: 0 0 20px 20px; }

.entry-content > p {
  line-height: 170%;
  font-size: 17px;
  color: #333;
  margin: 0 0 17px; }
.entry-content .post-deck {
  font-size: 25px;
  line-height: 140%;
  font-family: FloodStd; }

.zone-full-width,
.zone-partial-width {
  margin: 40px 0; }
  .zone-full-width .photo-credit,
  .zone-partial-width .photo-credit {
    margin-top: 8px !important; }

.zone-ad {
  float: right;
  margin: 0 0 20px 20px;
  padding: 10px;
  border: 1px solid #DDD; }
  .zone-ad .zone-ad-indicator {
    text-align: center;
    color: #AAA;
    text-transform: uppercase;
    font-size: 10px;
    display: block;
    margin-top: 5px; }

.slidewrap img {
  max-width: 400px;
  width: 100%; }

.slidewrap .photo-caption {
  max-width: 400px;
  width: 100%;
  margin: 20px auto !important;
  text-align: left; }

.carousel-prev,
.carousel-next {
  top: 50%;
  margin-top: -30px; }

.box.quote-box {
  border: 0; }

.box blockquote:before {
  color: #4EB5B0; }

.box blockquote {
  font-weight: 300;
  text-transform: uppercase; }

@media (max-width: 1050px) {
  .article-content > article {
    max-width: 800px;
    left: 0; }

  .article-content .article-meta {
    text-align: center;
    margin: -20px 0 20px; }

  .article-content .writer-title {
    text-transform: none; }

  .article-main-photo {
    height: 500px; }

  .article-main-photo hgroup h1 {
    font-size: 60px; }

  .article-main-photo hgroup h2 {
    font-size: 25px; } }
@media (max-width: 750px) {
  .entry-content > p {
    font-size: 15px;
    margin: 0 0 17px; }

  .entry-content .zone-deck {
    font-size: 20px; }

  body {
    padding-top: 0; }
/*
  .zone-header {
    position: static; }*/

  .zone-header .zone-headline {
    display: none; }

  .article-main-photo {
    height: auto; }

  .article-photo {
    height: 400px;
    position: static; }

  .article-main-photo hgroup h1 {
    font-size: 50px; }

  .article-main-photo hgroup h2 {
    font-size: 20px; } }




@media (max-width: 530px) {

  .article-main-photo hgroup h1 .special-title{
    padding:0px !important;

  }

  .article-main-photo hgroup {
    position: auto !important;
    background: none;
    color: #333;
    text-shadow: none; }

  .article-main-photo hgroup h1 {
    font-size: 50px;
    margin-bottom: 0px !important;
  }

  .article-main-photo hgroup h1 span {
    margin-bottom: 0px !important;
    font-size: 20px !important;
    color: #000; }

  .article-photo {
    height: 250px; }

  .article-main-photo hgroup h2 {
    font-size: 30px; }

  .article-main-photo .zone-rule {
    background: #DDD;
    box-shadow: none; }

  .zone-branding {
    display: none; }

  .zone-ad {
    display: none; } }
@media (min-width: 1050px) {
  .zone-full-width {
    width: 750px;
    margin: 40px 0 40px -60px; }

  .zone-ad {
    margin-right: -105px; } }
.headline-front {
  left: 7% !important;
  bottom: 8% !important;
  width: auto !important;
  background: transparent !important; }
  .headline-front h1 {
    text-transform: uppercase;
    text-shadow: none;
    font-size: 200px;
    text-align: left;
    line-height: 80%;
    width: auto; }
    .headline-front h1 span {
      display: inline-block;
      color: #4EB5B0;
      /* background-clip: text is only supported on webkit, sadly */
      background: -webkit-gradient(linear, left top, right bottom, from(#4EB5B0), to(rgba(246, 193, 58, 0.2)));
      background: -webkit-linear-gradient(top left, #4EB5B0, rgba(246, 193, 58, 0.2));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  @media (max-width: 1050px) {
    .headline-front h1 {
      font-size: 120px !important; } }
  @media (max-width: 750px) {
    .headline-front h1 {
      font-size: 90px !important; } }
  @media (max-width: 530px) {
    .headline-front {
      position: absolute !important;
      padding: 27px 20px !important; }
      .headline-front h1 {
        font-size: 60px !important; } }
hr {
  border: 0;
  height: 1px;
  margin-bottom: 30px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.zone-front {
  clear: both; }
  .zone-front .zone-posts {
    padding: 10px; }
    .zone-front .zone-posts::after {
      clear: both;
      content: "";
      display: table; }
  .zone-front .zone-post {
    width: 50%;
    float: left;
    padding: 50px;
    text-align: center; }
    .zone-front .zone-post img {
      width: 100%;
      margin: 0; }
    .zone-front .zone-post h2 {
      font: 600 18px proxima-nova, arial, helvetica, sans-serif;
      text-transform: uppercase;
      padding: 12px 0;
      margin: -5px 0 0;
      -webkit-transition: .2s;
      -moz-transition: .2s;
      transition: .2s; }
    .zone-front .zone-post:hover h2 {
      background: #6cd4d4; }

@media (max-width: 870px) {
  .zone-front .zone-post {
    width: 50%; } }
@media (max-width: 610px) {
  .zone-front .zone-post {
    width: auto; } }



}

/**********************************
    CHARTJS STYLES
***********************************/
#side-content ul {
  list-style-type: none;
 }

#canvas-holder {
    width: 300px;
    margin-top: 50px;
    text-align: center;
}
#chartjs-tooltip {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    padding: 10px;
    border-radius: 20px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
#chartjs-tooltip.below {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
#chartjs-tooltip.below:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: 0 8px 8px 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    z-index: 99;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
#chartjs-tooltip.above {
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
#chartjs-tooltip.above:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: 8px 8px 0 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
    top: 100%;
    position: absolute;
    z-index: 99;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

ul.chart-outline li {
    list-style-type: none;

}

ul.chart-outline li:before {
  content: "•";
  font-size: 180%; /* or whatever */
  vertical-align: middle;
  padding-right: 10px;
}

.chart-outline li.yellow:before {
  color: #fff200;
}
.chart-outline li.gray:before {
  color: #404041;
}
.chart-outline li.light-gray:before {
  color: #939598;
}

.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.chart-centerme {
  margin: 0 auto;
}
.chartjs-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.chart-title {
  font: 500 24px proxima-nova, arial, helvetica, sans-serif;
  text-align: center;
}
.chart-item {
  width: 300px;
  float: left;
}

.chart-item ul {
  text-align: center;
}

#chart-wrapper {
  float: left;
  width: 100%;
  margin: 20px 0;
}

#chart-wrapper h2 {
  font: 600 32px proxima-nova, arial, helvetica, sans-serif;
  text-align: center;
  margin: 15px 0;
}

#chart-wrapper p {
  padding: 0 20px;
}
